.header {
    // background-color: red;

    grid-column: full-start / full-end;

    display: grid;
    grid-template-rows: max-content 1fr max-content;
    grid-template-columns: [full-start] minmax(max-content, 14rem) [center-start]
    minmax(6rem, 1fr)
    [col-start] minmax(max-content, 14rem) [col-end]
    minmax(6rem, 1fr)
    [center-end] minmax(max-content, 14rem) [full-end];


    justify-content: center;
    align-content: space-between;
    // align-items: center;
    // justify-items: center;
    grid-gap: 1rem;

    position: relative;

    color: white;


    background-image: url(/img/background--wi-cloud.jpg);
    transition: background-image 1s ease-in-out;

    background-size: cover;
    background-position: top;

    @media only screen and (max-width: $bp-large) {
        grid-template-rows: repeat(3, max-content);
        grid-template-columns: [full-start] minmax(max-content, 14rem) [center-start]
        minmax(6rem, 1fr)
        repeat(2, [col-start] minmax(max-content, min-content) [col-end])
        minmax(6rem, 1fr)
        [center-end] minmax(max-content, 14rem) [full-end];
        
    }

    @media only screen and (max-width: $bp-small) {
        grid-template-rows: repeat(4, max-content);
        
    }


    &:before {
        pointer-events: none;
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-image: linear-gradient(
            to right bottom, 
            rgba($color-grey-dark-2, .5),
            rgba($color-grey-dark-3, .5));
    }




    &__top {
        // background-color: red;
        z-index: 999;

        grid-column: col-start / col-end;
        grid-row: 1 / 2;

        display: flex;
        flex-direction: column;
        align-items: center;

        margin-top: 2rem;

        height: auto;

        @media only screen and (max-width: $bp-large) {
            grid-column: col-start 1 / col-end 2;

            
        }

        &--title {
            display: flex;
            margin-bottom: 2rem;
            
            &--icon {
                display: flex;
                align-items: center;

                font-size: 2.5rem;
                padding-right: 1rem;
            }

        }

        &--forms {
            display: flex;
            flex-direction: column;

            margin-bottom: 2rem;

            
        }

        &--search {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-content: center; 
            justify-items: center;
            align-items: center;
            
            position: relative;


            @media only screen and (max-width: $bp-small) {
                max-width: 50rem;
            }
            
              

            &--icon {
                color: $color-black;
                background-color: $color-white;
                font-size: 2rem;
                

                display: flex;
                align-items: center;
                
                & ion-icon {

                    position: absolute;
                    color: $color-grey-dark-1;
                    padding-left: .75rem;
                    transition: 0.3s;
                }
            }

            &--input {
                width: 100%;
                border: 2px solid $color-grey-dark-1;
                border-radius: 4px;
                margin: 0.8rem 0;
                outline: none;
                padding: 0.8rem;
                box-sizing: border-box;
                transition: 0.3s;
                padding-left: 4rem;

                display: flex;
                flex: 1;
                width: 100%;

                &:focus {
                    border-color: $color-grey-dark-2;
                    box-shadow: 0 0 8px 0 $color-grey-dark-3;

                }
            }

            &--btn {
                margin-left: 1rem;
            }


        }

        &--btns {
            display: flex;
            flex-direction: row;
            justify-content: center;

            &--change {
                margin-right: 5rem;

                @media only screen and (max-width: $bp-small) {
                    margin-right: 3.5rem;
                }
            }

            &--map {

            }
        }



    }

    &__bottom {
        // background-color: blue;
        z-index: 999;

        grid-column: full-start / full-end;
        grid-row: 3 / 4;

        display: flex;
        flex-direction: column;
        

        margin: 5rem;

        @media only screen and (max-width: $bp-medium) {
            margin: 5rem 0; 
        }

        @media only screen and (max-width: $bp-small) {
            grid-row: 4 / 5;

            
        }

        &--page {
            display: flex;
            flex-direction: row-reverse;
            // justify-content: flex-end;

            & .btn:first-child {
                margin-left: 1rem;

            }

            @media only screen and (max-width: $bp-medium) {
                padding-right: 5rem; 
            }

            @media only screen and (max-width: $bp-small) {
                justify-content: center;
                padding-right: 0; 
                margin-bottom: 5rem;

            }

        }

        &--days {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            @media only screen and (max-width: $bp-medium) {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
            }

            @media only screen and (max-width: $bp-small) {
                grid-template-columns: repeat(2, 1fr);
            }

            @media only screen and (max-width: $bp-small) {
                grid-template-columns: repeat(1, 1fr);

            }
        }

        &--day {
            display: flex;
            flex-direction: column;
            align-items: center;

            @media only screen and (max-width: $bp-small) {
                padding: 2rem;
                position: relative;

                &:before {
                    content : "";
                    position: absolute;
                    left    : 50%;
                    bottom  : 0%;
                    height  : 0.05rem;
                    width   : 35%;
                    border-bottom: 0.5rem solid $color-white; 
                    transform: translate(-50%, 0);
                }  
            }

            

            &--time {
                font-size: 3rem;
                font-weight: 500;
            }

            &--icon {
                font-size: 5rem;
            }

            &--summary {
                font-weight: 500;
                text-align: center;
            }

            &--temp {
                font-size: 5rem;
                font-weight: 700;
                
                transition: opacity 1s;
            }

            &--rain {
                
            }
        }
    }

    &__left {
        // background-color: brown;
        z-index: 999;

        grid-column: full-start / center-start;
        grid-row: 1 / 2;

        display: flex;
        flex-direction: column;
        margin-top: 5rem;
        margin-left: 5rem;

        font-size: 3rem;
        font-weight: 400;

        max-width: 21.5rem;


        @media only screen and (max-width: $bp-large) {
            grid-column: col-start 1 / col-end 1;
            grid-row: 2 / 3;

            margin: 5rem auto;

            max-width: auto;
            width: 100%;

            align-items: center;
            align-content: center;

            text-align: center;
            
        }

        @media only screen and (max-width: $bp-small) {
            grid-column: col-start 1 / col-end 2;
            
            margin: 2rem auto 0 auto;
            padding: 2rem;
            position: relative;

            &:before {
                content : "";
                position: absolute;
                left    : 50%;
                bottom  : 0%;
                height  : 0.05rem;
                width   : 120%;
                border-bottom: 0.5rem solid $color-white; 
                transform: translate(-50%, 0);
            }  
        }


        &--icon {
            font-size: 5rem;    
        }

        &--summary {
            font-weight: 500;
 
        }

        &--city {

        }

        &--temp {
            font-weight: 700;
            font-size: 6rem; 
            flex-grow: 1;   
 
        }
    }

    &__right {
        // background-color: green;
        z-index: 999;

        grid-column: center-end / full-end;
        grid-row: 1 / 2;

        display: flex;
        flex-direction: column;

        margin-top: 5rem;
        margin-right: 5rem;

        max-width: 21.5rem;

        @media only screen and (max-width: $bp-large) {
            grid-column: col-start 2 / col-end 2;
            grid-row: 2 / 3;


            max-width: auto;
            margin: 5rem auto;
            width: 100%;

            

            align-items: center;

            text-align: center;
            
        }

        @media only screen and (max-width: $bp-small) {
            grid-column: col-start 1 / col-end 2;
            grid-row: 3 / 4;
            

            margin: 2rem auto 0 auto;
            padding: 2rem;
            position: relative;

            &:before {
                content : "";
                position: absolute;
                left    : 50%;
                bottom  : 0%;
                height  : 0.05rem;
                width   : 120%;
                border-bottom: 0.5rem solid $color-white; 
                transform: translate(-50%, 0);
            }  
        }


        &--block {
            display: flex;
            padding-bottom: 3rem;

            @media only screen and (max-width: $bp-large) {
                justify-content: space-evenly;
            }

        }

        &--icon {
            display: flex;
            align-items: center;

            font-size: 3rem;
            padding-right: 1.5rem;

        }

        &--content {
            display: flex;
            flex-direction: column;

            

            

            &--title {

            }
    
            &--text {
                font-size: 3rem;
                font-weight: 500;

            }


        }
    }
}

