%heading {
    font-family: $font-display;
    font-weight: 400;
}

.heading-1 {
    @extend %heading;
    font-size: 6rem;
    color: $color-grey-light-1;
    line-height: 1;

    &--name {
        @extend .heading-1;
        color: $color-secondary;
    }

    @media only screen and (max-width: $bp-small) {
        font-size: 4rem;
    }
}

.heading-2 {
    @extend %heading;
    font-size: 5rem;
    color: $color-grey-light-1;
    line-height: 1;

    &--light {
        @extend .heading-2;
        color: $color-grey-light-1;
    }

    &--dark {
        @extend .heading-2;
        color: $color-grey-dark-1;
    }

    @media only screen and (max-width: $bp-small) {
        font-size: 3rem;
    }
}

.heading-3 {
    @extend %heading;
    font-size: 4rem;
    color: $color-black;
    font-weight: 700;
    text-transform: uppercase;

    position: relative;

    &:before {
        content : "";
        position: absolute;
        left    : 50%;
        bottom  : -15%;
        height  : 0.05rem;
        width   : 50%;
        border-bottom: 0.5rem solid $color-black; 
        transform: translate(-50%, 0);
    }
}

.heading-4 {
    @extend %heading;
    font-size: 3rem;
    line-height: 1;
    font-weight: 600;
    color: $color-grey-dark-1;

    &--light {
        @extend .heading-4;
        color: $color-grey-light-1;
    }

    &--dark {
        @extend .heading-4;
        color: $color-grey-dark-3;
    }
}

.btn,
.btn:link,
.btn:visited {
    padding: 0 2rem;
    border: 2px solid $color-white;
    color: $color-white;
    background: $color-grey-dark-1;
    font-family: $font-display;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.5rem;
    letter-spacing: .4rem;
    cursor: pointer;
    transition: all .5s ease-in-out;
    height: 3.5rem;


    
    &:hover {
      background: $color-grey-dark-2;
      border: 2px solid $color-grey-dark-3;
      color: $color-white;

      & ion-icon {
        // transform: rotate(90deg) translate(0, 0);
        transform: rotate(90deg) translate(-3px, 0);    
      }
    }   
}

.btn-map {
    display: block;
    display: flex;
    align-items: center;
}

.loader {
    margin: 5rem auto;
    text-align: center; }
    .loader svg {
      height: 5.5rem;
      width: 5.5rem;
      fill: $color-white;
      transform-origin: 44% 50%;
      animation: rotate 1.5s infinite linear; }
  
  @keyframes rotate {
    0% {
      transform: rotate(0); }
    100% {
      transform: rotate(360deg); }   
}



.mb-sm {
    margin-bottom: 2rem;
}

.mb-md {
    margin-bottom: 3rem;
}

.mb-lg {
    margin-bottom: 4rem;
}

.mb-hg {
    margin-bottom: 8rem;
}